@import "bootstrap";
@import "header";

$error-text-color: #B94A48;
$success-text-color: #468847;

.div-body {
  margin:0 20px;
}

.margin-btn {
  margin-top: 30px;
}

.field {
  padding-top: 5px;
}

.padded_flash {
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  width: 500px;
}

#error_explanation {
  border: 1px solid $error-text-color;
  color: $error-text-color;
  background-color: #F2DEDE;
  @extend .padded_flash;
}