<nav class="navbar navbar-expand-lg navbar-light bg-light nav-margin">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Lista de Produtos", products_path, id: "products", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Cadastrar Produto", new_product_path, id: "new-product", class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>