<div class="nested-fields row">
  <div class="field col-lg-4">
    <%= f.label :color_id %>
    <%= f.collection_select :color_id, Color.all, :id, :name, {prompt:"Selecione uma Cor"}, { class: 'custom-select' } %>
  </div>
  <div class="field col-lg-4">
    <%= f.label :size_id %>
    <%= f.collection_select :size_id, Size.all, :id, :name, {prompt:"Selecione um Tamanho"}, { class: 'custom-select' } %>
  </div>
  <div class="field col-lg-3">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: 'Quantidade', class: 'form-control' %>
  </div>
  <div class="links col-lg-1 margin-btn">
    <%= link_to_remove_association "Excluir", f , class:"btn btn-light" %> 
  </div>
</div>
 