<% if @product.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<%= form_for @product do |f| %>
  <div class="row">
    <div class="field col-sm-6">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "#{t'.name'}", class: 'form-control' %>
    </div>
    <div class="field col-sm-6">
      <%= f.label :description, 'Descrição' %>
      <%= f.text_field :description, placeholder: 'Descrição', class: 'form-control' %>
    </div>
    <div class="field col-sm-12">
      <%= f.fields_for :available_products do |available_product| %>
        <%= render 'available_product_fields', :f => available_product %>
      <% end %>
      <div class="links margin-btn">
        <%= link_to_add_association 'Adicionar Cor', f, :available_products, class:"btn btn-secondary" %>
      </div>
    </div>  
    <div class="col-sm margin-btn ">
      <%= f.submit class:"btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
<% end %>