<tr>
  <th><%= product.id%></th>
  <td><%= product.name%></td>
  <td><%= product.description%></td>
  <td>
    <% product.available_products.each do |available_product| %>
      <p>
        <%= available_product.color.name %> - 
        <%= available_product.size.name %> - 
        <%= available_product.size.name %>
      </p>  
    <%end%>  
  </td>
  <td>
    <%= link_to t('.edit'), edit_product_path(product) %>
    <%= link_to t('.destroy'),  product,  method: :delete, data: { confirm: t('.dialogs.destroy') } %>
  </td>
</tr>