<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2><%= t'.product_edit'%></h2>
      <hr/>
      <%= render partial: "form", locals: {product: @product} %>  
    </div>
  </div>
</div>