<div class="container">
  <div class="row">
    <h2><%= t'.title'%></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= t('.name')%></th>
          <th scope="col"><%= t('.description')%></th>
          <th scope="col"><%= t('.color_and_size')%></th>
          <th scope="col"><%= t('.action')%></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product|%>
          <%= render partial: 'product', locals: {product: product} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to t('.product_new'), new_product_path, class: "btn btn-primary" %>
  </div>  
</div>    
